@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Goodly";
  src: url("/font/goodly-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-spin 8s linear infinite;
}

@import "tailwindcss";
@theme {
  --color-primary-500: #005cff;
  --color-secondary: #1f1e1e;
  --color-base-100: #ffffff;
  --color-base-200: #d7dcff;
  --font-archivo: "Archivo", sans-serif;
  --font-goodly: "Goodly", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
